@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

[data-overlay-container] {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  !*background: linear-gradient(*!*/
/*  !*    to bottom,*!*/
/*  !*    transparent,*!*/
/*  !*    rgb(var(--background-end-rgb))*!*/
/*  !*  )*!*/
/*  !*  rgb(var(--background-start-rgb));*!*/
/*}*/

html {
  height: 100%;
}

#__next {
  height: 100%;
}

body {
  height: 100%;
  /*box-sizing: border-box;*/
  /*margin: 0px;*/
  /*color: rgb(var(--foreground-rgb));*/
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
}

ol {
  list-style-type: decimal;
}
